{% extends "page/base.html" %}
{% block content %}
{% load static %}
ARCHIVES
<div>
    {% for archive in allarchives %}
    <a class="dropdown-item" href="{% url 'archives-branch' archive %}">{{ archive }}</a>
    {% endfor %}
</div>

<div class="fullcontainer">
    <div class="internships">
        {% for post in posts %}
        <div class="grid">
            <div class="card cardtwo">
                <div class="hover_color_bubble"></div>
                <div class="card-body">
                    <h5><a class="card-title" href="{% url 'specific_internship' post.title %}">Title: {{ post.title }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Role: {{ post.role }}</h6>
                    <p class="card-text ">"{{ post.description }}"</p>
                    <hr>
                    <p class="card-texttwo ">Registration open: {{ post.registration_open}}</p>
                    <p class="card-texttwo ">Registration close: {{ post.registration_close}}</p>
                    <hr>
                    <p>Referral Link: <a href=https://{{ post.referral_link }} class="card-link">{{ post.referral_link }}</a>
                    </p>
                    <div class="card-footer text-muted" style="font-size:10px; text-align:left">Posted on: {{ post.date_posted }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="fellowships">
        {% for post in fellowships %}
        <div class="grid">
            <div class="card">
                <div class="card-body">
                    <h5><a class="card-title" href="{% url 'specific_fellowship' post.name %}">Title: {{ post.name }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">university_organization: {{ post.university_organization }}</h6>
                    <p class="card-text ">{{ post.description }}</p>
                    <hr>
                    <p class="card-text text-success">Eligibility: {{ post.eligibility }}</p>
                    <p class="card-subtitle mb-2 text-muted">tenure: {{ post.duration }}</p>
                    <p class="card-text text-danger">date of expiry: {{ post.date_of_expiry}}</p>
                    <hr>
                    <p>Referral Link: <a href=https://{{ post.refer_link }} class="card-link">{{ post.referral_link }}</a>
                    </p>
                    <div class="card-footer text-muted" style="font-size:10px; text-align:left">Posted on: {{ post.date_posted }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="hackathons">
        {% for post in hackathons %}
        <div class="grid">
            <div class="card">
                <div class="card-body">
                    <h5><a href="{% url 'specific_hackathon' post.name %}" class="card-title">Title: {{ post.name }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">prize: {{ post.prize_money }}</h6>
                    <p class="card-text ">Topics: {{ post.topics }}</p>
                    <p class="card-text ">Hosted By: {{ post.hosted_by }}</p>
                    <hr>
                    <p class="card-text text-success">Start Date: {{ post.start_date }}</p>
                    <p class="card-text text-danger">End Date: {{ post.end_date }}</p>
                    <hr>
                    <p>application link: <a href=https://{{ post.refer_link }} class="card-link">{{ post.application_link }}</a>
                    <h6 class="card-subtitle mb-2 text-muted">format: {{ post.format }}</h6>
                    </p>
                    <div class="card-footer text-muted" style="font-size:10px; text-align:left">Posted on: {{ post.date_posted }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="scholarships">
        {% for post in scholarships %}
        <div class="grid">
            <div class="card">
                <div class="card-body">
                    <h5><a class="card-title" href="{% url 'specific_scholarship' post.name %}">Title: {{ post.name }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">country: {{ post.country }}</h6>
                    <p class="card-text ">{{ post.description }}</p>
                    <hr>
                    <p class="card-text text-success">eligibility: {{ post.eligibility }}</p>
                    <p class="card-text text-info">stipend: {{ post.stipend }}</p>
                    <p class="card-text text-danger">Registration close: {{ post.end_date }}</p>
                    <hr>
                    <p>Referral Link: <a href=https://{{ post.refer_link }} class="card-link">{{ post.referral_link }}</a>
                    </p>
                    <div class="card-footer text-muted" style="font-size:10px; text-align:left">Posted on: {{ post.date_posted }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}