{% extends "page/base.html" %} {% block content %} {% load static %}
<style>
  body {
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);


  }

  .card {
    background: #222;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
  }

  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: #e0c3fc;
    text-decoration: none;
    transition: all 0.4s ease;
  }

  h1 {
    color: black;
    text-align: center;
    margin: 3rem;
    font-weight: bolder;
    font-size: xx-large;
  }
  .card-title {
    color: gold;
    font-weight: bold;
  }
  .card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 110px;
    right: 1rem;
    width: 90px;
    height: 90px;
  }
  /* .card-body {
    margin-top: 10px;
  } */
</style>

<div class="container mx-auto mt-4">
  <h1>HACKATHONS 🚀</h1>
  <div class="row">
    {% for post in hackathons %}
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          src="https://miro.medium.com/max/2000/1*AXF8IYKqC3Y7JxYRaUrCPQ.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-custom-avatar">
          <img
            class="img-fluid"
            src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2.0,f_auto,g_center,h_1080,q_100,w_1080/v1/gcs/platform-data-dsc/chapter_banners/GDSC%20MERU.png"
            alt="Avatar"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ post.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ post.hosted_by }}</h6>
          <p class="card-text">Topics: {{ post.topics }}</p>
          <p class="card-text">prize: {{ post.prize_money }}</p>
          <p class="card-text">Start Date:<b> {{ post.start_date }}</b></p>
          <p class="card-text">End Date: <b>{{ post.end_date }}</b></p>

          <a href="{{ post.application_link }}" class="btn mr-2"
            ><i class="fas fa-link"></i> Visit Site</a
          >
          <a href="#" class="btn"><i class="fab fa-github"></i> Register</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
