<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to the file</title>
    <style>
        .title{
            color: blue;
        }
        .company{
            background-color: aquamarine;
        }
        .role{
            background-color: rgb(19, 148, 235);
        }
    </style>
</head>
<body>
    <h1 class="title">{{ varname.title }}</h1>
    <h4 class="comapny">{{ varname.comapny_org }}</h4>
    <h3 class="role">{{ varname.role }}</h3>
    <p class="format">{{ varname.format }}</p>
    <p class="desc">{{ varname.description }}</p>
    <p class="regopen">{{ varname.registration_open }}</p>
    <p class="regclose">{{ varname.registration_close }}</p>
    <p class="eligibility">{{ varname.eligibility }}</p>
    <p class="referal">{{ varname.referral_link }}</p>
    <p class="dtpost">{{ varname.date_posted }}</p>
    <p class="branch">{{ varname.multibranch }}</p>
    <strong class="btyb">{{ varname.brought_to_you_by }}</strong>
</body>
</html>