{% extends "page/base.html" %}
{% block content %}
{% load static %}
<style>
    .fullcontainer {
        display: flex;
        flex-wrap: wrap;
    }
    .fullcontainer > div {
        margin: 10px;
        padding: 10px;
        width: 350px;
    }
    .card:hover {
     transform: scale(1.05);
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
    .card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 25px 18px 36px;
    cursor: pointer;
    }
    hr {
    margin: 0
    }
    .homepg {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
</style>
<div>
    name: {{ post.name }}
    <br>
    hosted_by: {{ post.hosted_by }}
    <br>
    eligibility: {{ post.eligibility }}
    <br>
    start_Date: {{ post.start_date }}
    <br>
    end_Date: {{ post.end_date }}
    <br>
    topics: {{ post.topics }}
    <br>
    format: {{ post.format }}
    <br>
    description: {{ post.prize_money_description }}
    <br>
    link to apply: {{ post.link_to_apply }}
    <br>
    date_ posted: {{ post.date_posted }}
    <br>
</div>
<div class="container">
    <div class="fullcontainer">
        {% for post in hackathons %}
        <div class="grid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Title: {{ post.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">prize: {{ post.prize_money }}</h6>
                    <p class="card-text ">Topics: {{ post.topics }}</p>
                    <p class="card-text ">Hosted By: {{ post.hosted_by }}</p>
                    <hr>
                    <p class="card-text text-success">Start Date: {{ post.start_date }}</p>
                    <p class="card-text text-danger">End Date: {{ post.end_date }}</p>
                    <hr>
                    <p>application link: <a href=https://{{ post.refer_link }} class="card-link">{{ post.application_link }}</a>
                    <h6 class="card-subtitle mb-2 text-muted">format: {{ post.format }}</h6>
                    </p>
                    <div class="card-footer text-muted" style="font-size:10px; text-align:left">Posted on: {{ post.date_posted }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}