{% extends "page/base.html" %} {% block content %} {% load static %}
<style>
  @import url("https://rsms.me/inter/inter.css");
  .container {
    font-family: "Inter", sans-serif;
  }
  .heading h1 {
    font-weight: bolder;
    color: rgb(34, 34, 34);
  }
  .about h3 {
    font-weight: bold;
  }
  .about span {
    color: rgb(248, 191, 45);
  }
  .about p {
    font-weight: 500;
  }
  .banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 20px 0px 15px 0px;
  }
  .banner2 {
    display: flex;
    margin: 10px 5px 0px 5px;
  }
  .banner2 i {
    margin-right: 5px;
    color: #06000a;
  }
  .banner2 span {
    color: #a15dce;
  }
  .banner2 p {
    color: #a15dce;
  }
  .card-header {
    background: #a15dce;
    background: -webkit-linear-gradient(top left, #a15dce, #9f78cc);
    background: -moz-linear-gradient(top left, #a15dce, #9f78cc);
    background: linear-gradient(to bottom right, #a15dce, #9f78cc);
    color: white;
  }
  .check-list {
    margin: 0;
    padding-left: 1.2rem;
  }

  .check-list li {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .check-list li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
  }
  .card-body a {
    border: 2px solid #a15dce;
    background: #a15dce;
    background: -webkit-linear-gradient(top left, #a15dce, #9f78cc);
    background: -moz-linear-gradient(top left, #a15dce, #9f78cc);
    background: linear-gradient(to bottom right, #a15dce, #9f78cc);
  }
</style>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
  rel="stylesheet"
/>

<div class="container p-5">
  <div class="heading">
    <h1>
      {{ post.name }}
    </h1>
  </div>
  <div class="banner">
    <div class="banner2">
      <i class="fas fa-graduation-cap fa-3x"></i>
      <div>
        <span><b>Eligibility</b></span>
        <p>{{ post.eligibility }}</p>
      </div>
    </div>
    <div class="banner2">
      <i class="fas fa-globe-americas fa-3x"></i>
      <div>
        <span><b>Location</b></span>
        <p>{{ post.location_and_format }}</p>
      </div>
    </div>
    <div class="banner2">
      <i class="fas fa-trophy fa-3x"></i>
      <div>
        <span><b>Stipend</b></span>
        <p>{{ post.funding }}</p>
      </div>
    </div>
    <div class="banner2">
      <i class="fas fa-calendar-week fa-3x"></i>
      <div>
        <span><b>Last Date</b></span>
        <p>{{ post.date_of_expiry }}</p>
      </div>
    </div>
  </div>

  <div class="about">
    <h3>About the <span>Program</span></h3>
    <p>
      {{ post.description }}
    </p>
  </div>

  <div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">{{ post.name }}</h5>
      <p class="card-text">
        {{ post.description }}
      </p>
      <div>
        <ul class="check-list">
          <li>FUNDING: {{ post.funding }}</li>
          <li>DURATION: {{ post.duration }}</li>
          <li>END DATE: {{ post.date_of_expiry }}</li>
          <li>UNIVERSITY/ORGANIZATION: {{ post.university_organization }}</li>
          <li>REFERRAL LINK: {{ post.referral_link }}</li>
          <li>LINK TO APPLY: {{ post.link_to_apply }}</li>
          <li>DATE POSTED: {{ post.date_posted }}</li>
          <li>BENIFITS: {{ post.benifits }}</li>
        </ul>
      </div>
      <a href="{{ post.link_to_apply }}" class="btn btn-primary"
        >Link to apply</a
      >
    </div>
  </div>
</div>
{% endblock content %}
